body{
	background: url('http://i.imgur.com/jTmYbZ7.jpg') no-repeat center fixed;
	background-size:cover;
	
	font-family: 'Open Sans', sans-serif;
	line-height:1.4em;
	overflow:hidden;
	
}



#container {
	width:100%;
	position:absolute;
}


.header p, h1{
	margin-top: 450px;
	margin-left:5px;
	color:white;
	
	text-align:left;
}

.header p {
	margin-top:-15px;
	margin-left:50px;


	
}

.nav-bar {
	transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	text-align:left;
	width:170px;
	margin-top:60px;
	margin-left:400px;
	
}
.nav-bar p {
line-height:.05 em;
font-size:10px;


}

.nav-bar p a{
	color:white;
	text-decoration:none;
	
}